@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'util/util';
@import 'util/mixins';
@import 'ticker';   

html {
    height: 100%;
}
body {
    height: auto;
}
::selection {
    background-color: $brand-purple;
    color: $primary-color;
}
picture {
    background-color: $brand-purple;
}

.project-thumb-container {
    background-color: $brand-purple;
    max-height: 100vh;
    @include breakpoint(large up) { 
        height: 900px;
    }
    @include breakpoint(medium only) { 
        height: 600px;
    }
    @include breakpoint(small only) { 
        height: 550px;
    }

}

// .grid-container {
//     padding: 20px 0;
// }

.project-thumb-container {
    img {
        @include absolute-center;
        width: 60%;
        @include breakpoint(medium only) { 
            width: 40%;
        }
    }
    video {
        @include absolute-center;
        width: 60%;
        @include breakpoint(medium only) { 
            width: 40%;
        }
    }
}

.project-thumb-container {
    position: relative;
    @include breakpoint(medium down) {
        margin: 0 0 20px 0;
    }
}
.info {
    position: absolute;
    top: 110px;
    right: 20px;
    cursor: help;
}    
.back-button {
    position: absolute;
    top: 110px;
    right: 20px;
}
.topbar {
    @include breakpoint(small only) {
        margin: 0;
        padding: 0;
        position: relative;
    }
}
.menu {
    a {
        color: $black;
        font-family: $header-font-family;
        font-weight: 700;
    }
}
.project-preview-caption {
    font-weight: 900;
}
.project-preview-client {
    font-weight: 500;
}
.caption {
    color: $black;
    font-family: $body-font-family;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.22rem;
    padding: 0.5rem 0 1rem 0;
}
.cap-wrap {
    &:before {
        content: "•";
        font-size: 3rem;
        line-height: 0;
        color: $secondary-color;
    }
}
.project-type {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: -1px;
    font-weight: 550;
}
.self-init {
    background-color: $secondary-color;
}   
.collab {
    background-color: $brand-purple;
} 
.sdc {
    background-color: #5700ff;
}
.jy {
    background-color: #A5CC3D;
}
.bio {
    padding: 2rem 0;
}
.main-carousel {
    // max-height: 100vh;
    @include breakpoint(large up) { 
        height: 900px;
        // width: xy-cell-size(6 of 12);
    }
    @include breakpoint(medium only) { 
        height: 600px;
        // width: xy-cell-size(6 of 12);
    }
    @include breakpoint(small only) { 
        height: 550px;
        width: 100%;
    }
    overflow: hidden;
}
button.flickity-button.flickity-prev-next-button {
    background: transparent;
    width: 40%;
    border-radius: 0;
    padding: 0;
    // position: absolute;
    // top: 0px;
    height: 100%;
    cursor: pointer;
}
.flickity-button-icon {
    display: none;
}
button.flickity-button.flickity-prev-next-button.next {
    right: 0;
    cursor: url(/etc/img/arrow-forward.svg),auto;
    :disabled {
        cursor: url(/etc/img/arrow-back.svg),auto;
    }
}
button.flickity-button.flickity-prev-next-button.previous {
    right: 0;
    cursor: url(/etc/img/arrow-back.svg),auto;
    :disabled {
        cursor: url(/etc/img/arrow-forward.svg),auto;
    }
}
button.previous:disabled {
    cursor: url(/etc/img/arrow-forward.svg),auto;
}
button.next:disabled {
    cursor: url(/etc/img/arrow-back.svg),auto;
}

.carousel {
    position: relative;
    // visibility: hidden;
    // background: url("http://api.thumbr.it/whitenoise-360x360.png?background=#0e0e0eff&noise=ffffff&density=41&opacity=100");
    background: $black;
    // transition: 0.3ms;
    // border-right: 8px;
    // border-style: solid;
    // border-image-slice: 4;
    // border-image-source: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(162,95,10,1) 16%, rgba(0,0,255,1) 27%, rgba(255,143,102,1) 52%, rgba(206,180,255,1) 65%, rgba(255,143,102,1) 100%);

    // &:hover {
    //     background: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(162,95,10,1) 16%, rgba(0,0,255,1) 27%, rgba(255,143,102,1) 52%, rgba(206,180,255,1) 65%, rgba(255,143,102,1) 100%);
    // }
    // mix-blend-mode: multiply;
  }
  
  .carousel-cell {
    // margin-right: 10px;
    width: 100%;
    @include breakpoint(large up) { 
        height: 900px;
    }
    @include breakpoint(medium only) { 
        height: 600px;
    }
    @include breakpoint(small only) { 
        height: 550px;
    }
    counter-increment: carousel-cell;
    img {
        @include absolute-center;
        max-width: 60%;   
        max-height: 80%;
        // width: 500px;
        height: auto;
    }
    video {
        @include absolute-center;
        max-width: 60%;   
        max-height: 80%;
    }
      /* cell number */
    :before {
        display: block;
        text-align: center;
        // content: counter(carousel-cell);
        line-height: 200px;
        font-size: 80px;
        color: white;
    }
  }
  .carousel-status {
    font-size: 24px;
  }
  /* position dots in carousel */
.flickity-page-dots {
    bottom: 10px;
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    // border: 1px solid $brand-purple;
  }
//   /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: $black;
    transition: 0.3ms;
    &:hover {
        background: $black;
    }

  }
  
  .flickity-page-dots {
	position: relative;
    left: 50px;
    bottom: 50px;
	width: 70px;
	height: 20px;
    margin-left: -35px;
    color: white;
    font-family: $body-font-family;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    padding: 0.5rem 0 1rem 0;

	&:before {
		content: "/";
	}

	.dot, .dot:before, .dot:after {
		float: left;
		width: 30px;
		height: 20px;
	}
	.dot {
		counter-increment: carousel-cell;
		position: absolute;
		left: 0;
		margin: 0;
		opacity: 1;

		&.is-selected {z-index: 1}

		&:before {
			content: counter(carousel-cell);
			// background-color: #fff;
			text-align: right;
		}

		&:last-child:after {
			content: counter(carousel-cell);
			position: absolute;
			top: 0;
			right: -40px;
			text-align: left;
		}
	}
}
.footer {
    padding: 20px 0 0;
    background: $brand-blue;
    border-top: 1px solid $black;
    color: $brand-purple;
    // position: fixed;
    .footer-copyright {
        font-family: $body-font-family;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 0.7rem 0;
    }
    a {
        font-family: $header-font-family;
        font-weight: bold;
        font-size: 1rem;
        color: $brand-purple;
        @include breakpoint(small only) { 
            font-size: 12px;
        }
        &:hover {
            color: $yeah-gray;
        }
        &:focus {
            color: $brand-orange;
        }
    }
}
.footer-nav {
    @include breakpoint(small only) { 
        margin-bottom: 30px;
    }
}
.divider {
    margin-top: 5px;
}
.branding {
    opacity: 1; 
    position: fixed; 
    bottom: 74px; 
    right: 9px; 
    z-index: 1;
    visibility: hidden;
}
// .logo-stamp {
//     mix-blend-mode: difference;
// }
// .isolate { 
//     isolation: isolate; 
// }
.ticker-logo {
    display: inline;
    padding: 0 20px 0 18px;
}
.ticker-dash {
    padding: 0 20px;
}
.email-i {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    // font-size: 1rem;
}
.about-body {
        // background: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(162,95,10,1) 16%, rgba(0,0,255,1) 27%, rgba(255,143,102,1) 52%, rgba(206,180,255,1) 65%, rgba(255,143,102,1) 100%);
        height: auto;
        background: $secondary-color;
}
.about-text {
    font-size: 28px;
    font-family: $header-font-family;
    font-weight: 700;
    letter-spacing: 0.025rem;
    @include breakpoint(small only) { 
        font-size: 1.5rem;
    }

}
.about-image {
    z-index: -999;
}
.back-button {
    fill: white;
}
.about-connect-svg {
    display: inline;
    padding: 1rem 1rem 1rem 0.6rem;
    color: $black;
}
.about-connect-link {
    font-family: $body-font-family;
    color: $black;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}
.about-cta {
    padding: 2rem 0;
    @include breakpoint(large up) { 
        padding: 4rem 0;
    }

}
.portfolio-request {
    letter-spacing: 0.1rem;
    // text-transform: uppercase;
    padding: 60px 0;
    font-size: 0.8rem;
    font-weight: 700;
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: auto;
}
.ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}
ul.transition li {
    transform: scaleY(0);
    background: $secondary-color;
    width: 20%;
}
// .left {
//     padding-right: 2em;
// } 
// .img-effect {
//     clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
// }
#loading-screen, #loading-screen2 {
    width: 100%;
    height: 100%;
    position: fixed;
    transform: translate(0, 0);
    background-color: $secondary-color;
    z-index: 9999;
    // visibility: hidden;
    // transform: translate(50% 50%);
}
.load-img {
    @include absolute-center;
    width: 10%;
    padding: 4rem 0;
    @include breakpoint(medium only) { 
        width: 20%;
    }
    @include breakpoint(small only) { 
        width: 25%;
    }
}
#loading-text {
    text-align: center;
    // margin-top: 130px;
    font-family: 'Travaille-v4.95', monospace;
    margin-top: 90px;
}
.loading-letter {
    font-family: $body-font-family;
    font-weight: 700;
    font-size: 0.75rem;
    font-style: normal;;
    color: $brand-blue;
    margin-left: 5px;
    display: inline-block;
}
.am-profile {
    visibility: hidden;
}
.m-by {
    display: none;
}
#m-gmail, #m-outlook, #m-open, #m-copy {
    font-family: $body-font-family;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 0;
}
#m-title {
    padding-top:16px;
    font-family: $body-font-family;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 0.8rem;
}
div.m-modal-content {
    border-radius: 0 !important;
    background-color: $brand-purple !important;
}